.test-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.test-questions {
    display: grid;
}

.questions {
    margin-top: 40px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    flex: 1;
    background: #F0F0F5;
    border-radius: 8px;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    color: #6C6C80;
}

.finish-test-button {
    margin-top: 50px;
}

.input-quest {
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
}

.options {
    margin-top: 20px;
}